<h1>Restaurant details:</h1>


<p>
    <strong>Name: </strong><%= @restaurant.name %>
</p>

<p>
    <strong>Address: </strong><%= @restaurant.address %>
</p>

<p>
    <strong>Phone number: </strong><%= @restaurant.phone_number %>
</p>

<p>
    <strong>Category: </strong><%= @restaurant.category %>
</p>

<p>
    <strong>Reviews: </strong>
    <% @restaurant.reviews.each do |review| %>
      <li>customer says: <%= review.content %> rating: <%= review.rating %></li>
    <% end %>
</p>


|
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
